@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Hedvig+Letters+Serif:opsz@12..24&family=MonteCarlo&family=Tangerine:wght@400;700&display=swap");

/* Delay untuk animasi */
.delay-100 {
  animation-delay: 0.1s;
}
.delay-200 {
  animation-delay: 0.2s;
}
.delay-300 {
  animation-delay: 0.3s;
}
.delay-400 {
  animation-delay: 0.4s;
}
.delay-500 {
  animation-delay: 0.5s;
}
.delay-600 {
  animation-delay: 0.6s;
}
.delay-700 {
  animation-delay: 0.7s;
}
.delay-800 {
  animation-delay: 0.8s;
}
.delay-900 {
  animation-delay: 0.9s;
}

@keyframes pullIn {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInScale {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes letterSpacingExpand {
  from {
    letter-spacing: -6px;
    opacity: 0;
  }
  to {
    letter-spacing: 3px;
    opacity: 1;
  }
}

.animate-pull-in {
  animation: pullIn 1.5s ease-in-out forwards;
}

.animate-zoom-in {
  animation: zoomIn 1.5s ease-in-out forwards;
}

.animate-zoom-out {
  animation: zoomOut 1.5s ease-in-out forwards;
}

.animate-fade-in-up {
  animation: fadeInUp 1.5s ease-in-out forwards;
}

.animate-fade-in-scale {
  animation: fadeInScale 1.5s ease-in-out forwards;
}

.animate-letter-spacing {
  animation: letterSpacingExpand 2s ease-in-out forwards;
}
/* Animasi muncul dari bawah ke atas */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Class untuk animasi */
.gallery-animate {
  animation: slideUp 0.8s ease-out forwards;
}

body.no-scroll {
  overflow: hidden;
}

@keyframes sway {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.animate-sway {
  animation: sway 3s ease-in-out infinite;
}

.wrapper .button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.wrapper .svgIcon {
  width: 15px;
  transition-duration: 0.3s;
}

.wrapper .svgIcon path {
  fill: white;
}

.wrapper .button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(181, 160, 255);
  align-items: center;
}

.wrapper .button:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(300%);
}

.wrapper .button::before {
  position: absolute;
  bottom: -30px;
  content: "Buka Undangan";
  color: white;
  /* transition-duration: .3s; */
  font-size: 10px;
}

.wrapper .button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}

.gallery {
  --s: 100px; /* Ukuran gambar default untuk mobile */
  --g: 5px; /* Jarak antar gambar default untuk mobile */
  --f: 1.3; /* Faktor skala saat hover */

  display: grid;
  gap: var(--g);
  width: 100%; /* Lebar penuh pada mobile */
  grid-template-columns: repeat(2, 1fr); /* 2 kolom pada mobile */
  margin: 0 auto;
}

.gallery-item {
  overflow: hidden; /* Pastikan zoom tidak memengaruhi ukuran container */
  transition: transform 0.35s linear; /* Animasi hover */
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  /* filter: grayscale(80%); */
  transition: transform 0.35s linear, filter 0.35s linear; /* Animasi hover */
}

.gallery-img:hover {
  filter: grayscale(0);
  transform: scale(var(--f)); /* Zoom gambar */
}

.montecarlo-regular {
  font-family: "MonteCarlo", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 1000;
  font-style: normal;
}

.charm-regular {
  font-family: "Charm", cursive;
  font-weight: 400;
  font-style: normal;
}

.charm-bold {
  font-family: "Charm", cursive;
  font-weight: 700;
  font-style: normal;
}

.hedvig-letters-serif-text {
  font-family: "Hedvig Letters Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
